body {
    margin: 0;
    padding: 0;
    background-color: rgb(243, 219, 187);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  table {
    border-collapse: collapse;
    width: 300px;
    margin-bottom: 240px;
  }

  td {
    border: 2px solid #f34949;
    padding: 20px;
    text-align: center;
  }

  input {
    width: 100%;
  }

  button:hover {
    background-color: rgb(71, 151, 243); 
  }

  .clear:hover{
    background-color: red;
  }
  